<!-- * DIRECTIVAS DE ATRIBUTO [] () -->

<p [ngStyle]="{color: 'tomato', fontWeight: 'bold'}">Lista de elementos:</p>
<!-- Las directivas de atributos permiten cambiar el valor de un atributo -->

<p ngClass="underlined">Aquí vamos a iterar sobre una lista y mostrar varios elementos</p>
<p [ngClass]="['underlined', 'small']">Aún no tienes elementos en la lista</p>
<p [ngClass]="{underlined: false, small: true}">Te recomendamos agregar un elemento</p>

<!-- * DIRECTIVAS ESTRUCTURALES * -->

<button (click)="cambiarCargando()">
  {{ cargando ? 'Terminar Carga' : 'Iniciar carga' }}
</button>

<!-- *ngIf -->
<ng-container *ngIf="!cargando; else templateEspera">
  <p>Todo listo</p>
</ng-container>
<ng-template #templateEspera>
  <p>Cargando...</p>
  <p>Espere a que termine el proceso</p>
</ng-template>

<!-- *ngFor -->
<div *ngFor="let producto of listaElementos; let i = index; let even = even">
  <div [ngStyle]="even ? {backgroundColor: 'blue', color: 'white'} : {backgroundColor: 'green', color: 'white'}">
    <p>ID: {{ i+1 }}</p>
    <p>{{ producto.nombre }} - {{ producto.precio }}€</p>
    <p>{{ producto.descripcion }}</p>
  </div>
</div>

<!-- * ngSwitch -->
<div [ngSwitch]="opcion">
  <p [id]="1" *ngSwitchCase="1">Has escogido la Opcion 1</p>
  <p [id]="2" *ngSwitchCase="2">Has escogido la Opcion 2</p>
  <p [id]="3" *ngSwitchCase="3">Has escogido la Opcion 3</p>
  <p [id]="4" *ngSwitchCase="4">Has escogido la Opcion 4</p>
  <p *ngSwitchDefault class="cerrar"></p>
</div>

<div>
  <input type="radio" name="opcion" (click)="escogerOpcion(1)" /> Opcion 1
  <input type="radio" name="opcion" (click)="escogerOpcion(2)" /> Opcion 2
  <input type="radio" name="opcion" (click)="escogerOpcion(3)" /> Opcion 3
  <input type="radio" name="opcion" (click)="escogerOpcion(4)" /> Opcion 4
  <input type="radio" selected="selected" name="opcion" (click)="escogerOpcion(0)" /> Ocultar
</div>

<!-- * Concatenación -->
<p>Productos de más de 10€</p>
<div *ngFor="let producto of listaElementos; let i = index; let even = even">
  <div *ngIf="producto.precio>10" [ngStyle]="even ? {backgroundColor: 'blue', color: 'white'} : {backgroundColor: 'green', color: 'white'}">
    <p>ID: {{ i+1 }}</p>
    <p>{{ producto.nombre }} - {{ producto.precio }}€</p>
    <p>{{ producto.descripcion }}</p>
  </div>
</div>
